@using Cresimed.Core.Entities.ViewModel.Web
@{
   
}
@model FrontWebViewModel

<body data-spy="scroll" data-target="#navbar" data-offset="30">

    <!-- Nav Menu -->
    <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <a class="navbar-brand" href="/"><img src="images/logo.png"  class="img-fluid" alt="logo"></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"> <a class="nav-link active" href="#home">INICIO <span class="sr-only">(current)</span></a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#features">BENEFICIOS</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#gallery">RECURSOS</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#pricing">FAQS</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#contact">CONTACTO</a> </li>
                                <li class="nav-item"> <a href="https://campus.cresimed.com/" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Iniciar Sesion</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <header class="bg-gradient" id="home">
        <div class="container mt-5">
            <h1>
                <b>
                    ¿Querés destacar en el Examen de Residencias Médicas de Argentina 2023?
                </b>
            </h1>
            <p class="tagline">Asegurá tu lugar en los mejores hospitales con un curso diseñado para que estudies de la forma más fácil y eficiente. </p>
            <br />
            <a class="btn btn-secondary text-center" href="@Url.Action("Register","Account")">Inscribite</a>
        </div>
        
        <div class="img-holder mt-0"><img src="~/assets/images/dashboard/campusDashboard.png" alt="phone" class="img-fluid"></div>

        
    </header>

@*

    <div class="client-logos my-5">
        <div class="container text-center">
            <img src="images/client-logos.png" alt="client logos" class="img-fluid">
        </div>
    </div>

*@
    <div class="section light-bg" id="features">


        <div class="container">

            <div class="section-title">
                <h3>¿Por qué elegir Cresimed?</h3>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <img class="ti-face-smile gradient-fill ti-3x mr-3" src="images/BankQuestion.png" width="15%"/>
                                <div class="media-body">
                                    <h4 class="card-title">Banco de preguntas</h4>
                                    <p class="card-text">Miles de preguntas desarrolladas para que practiques hasta dominar todo el contenido del Examen.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <img class="ti-settings gradient-fill ti-3x mr-3" src="images/Question.png"  width="15%"/>
                                <div class="media-body">
                                    <h4 class="card-title">Exámenes customizados</h4>
                                    <p class="card-text">Creá tu examen de práctica según tu nivel de conocimiento, preferencias y estadísticas de progreso personales.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <img class="ti-lock gradient-fill ti-3x mr-3" src="images/Statistics.png"  width="15%"/>
                                <div class="media-body">
                                    <h4 class="card-title">Estadísticas personales</h4>
                                    <p class="card-text">Observá tu progreso, identificando fortalezas y debilidades, para estudiar de la forma más eficiente.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
    <!-- // end .section -->
    <div class="section">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6">
                    <div class="box-icon"><span class="ti-mobile gradient-fill ti-3x"></span></div>
                    <h2>Prepárate y aprende de la forma mas fácil</h2>
                    <p class="mb-4">Con nuestro método desarrollado por expertos en software y pedagogía, te ayudamos a estudiar para el Examen UNICO, para que aprendas todo lo que necesitas saber para sobresalir e ingresar a la residencia que mas deseas.</p>
                    <a href="https://campus.cresimed.com/" class="btn btn-primary"> Iniciar Sesion</a>
                </div>
            </div>
            <div class="perspective-phone">

                <img src="~/images/celuLoginCampus.png" alt="perspective phone" class="img-fluid">
            </div>
        </div>

    </div>
    <!-- // end .section -->


    <div class="section" id="gallery">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/assets/images/dashboard/AprendizajeBasadoEnPreguntas.png" alt="dual phone" class="img-fluid">
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <div>
                        <div class="box-icon"><span class="ti-ocket gradient-fill ti-3x"></span></div>
                        <h2>Aprendizaje basado en preguntas</h2>
                        <p class="mb-4">Practicá con miles de preguntas, completamente nuevas y tomadas en los últimos años, para que aprendas los conceptos más importantes del Examen de Residencia.</p>
                        <a href="@Url.Action("Register","Account")" class="btn btn-primary">Inscribite</a>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <!-- // end .section -->

    <div class="section">

        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <div>
                        <div class="box-icon"><span class="ti-ocket gradient-fill ti-3x"></span></div>
                        <h2>Exámenes personalizados</h2>
                        <p class="mb-4">Creá exámenes de practica según tus estadísticas personales, eligiendo la cantidad de preguntas y especialidad que desees hacer, para trabajar en tus fortalezas y debilidades.</p>
                        <a href="@Url.Action("Register","Account")" class="btn btn-primary">Inscribite</a>
                    </div>

                </div>
                <div class="col-md-6">
                    <img src="~/assets/images/dashboard/ExámenesPersonalizados.png" alt="dual phone" class="img-fluid">

                </div>
            </div>

        </div>

    </div>
    <!-- // end .section -->

    <div class="section">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/assets/images/dashboard/ExplicacionesDetalladas.png" alt="dual phone" class="img-fluid">
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <div>
                        <div class="box-icon"><span class="ti-ocket gradient-fill ti-3x"></span></div>
                        <h2>Explicaciones detalladas</h2>
                        <p class="mb-4">Aprendé con justificaciones profundas de las respuestas correctas para que entiendas los conceptos esenciales detrás de cada pregunta.</p>
                        <a href="@Url.Action("Register","Account")" class="btn btn-primary">Inscribite</a>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <!-- // end .section -->

    <div class="section">

        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <div>
                        <div class="box-icon"><span class="ti-ocket gradient-fill ti-3x"></span></div>
                        <h2>Estadísticas de rendimiento</h2>
                        <p class="mb-4">Observá tu progreso personal durante tu estudio e identificá tus fortalezas y debilidades para asimilar todas las asignaturas del Examen.</p>
                        <a href="@Url.Action("Register","Account")" class="btn btn-primary">Inscribite</a>
                    </div>

                </div>
                <div class="col-md-6">
                    <img src="~/assets/images/dashboard/EstadísticasDeRendimiento.png" alt="dual phone" class="img-fluid">
                </div>
            </div>

        </div>

    </div>
    <!-- // end .section -->
     <div class="section light-bg">

        <div class="container">
            <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                    <ul class="list-unstyled ui-steps">
                        <li class="media">
                            <div class="circle-icon mr-4">1</div>
                            <div class="media-body">
                            <br>
                                <h5>Cre&aacute; una cuenta</h5>
                            </div>
                        </li>
                        <li class="media my-4">
                            <div class="circle-icon mr-4">2</div>
                            <div class="media-body">
                            <br>
                                <h5> Realiz&aacute; el pago de la suscripción única.</h5>
                            </div>
                        </li>
                        <li class="media">
                            <div class="circle-icon mr-4">3</div>
                            <div class="media-body">
                            <br />
                                <h5>¡Empezá a preparar el Examen de Residencia Médica de la manera más fácil y eficiente!</h5>
                            </div>
                        </li>
                        <li class="media text-center">
                            <div class="media-body">
                            <br />
                                <a href="@Url.Action("Register","Account")" class="btn btn-primary">Inscribite</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <img src="~/images/CreacionDeCuenta.png" alt="iphone" class="img-fluid">
                </div>

            </div>

        </div>

    </div>
    <!-- // end .section -->
    
    <div class="section">
        <div class="container">
            <div class="section-title">
                <h3>¿Qué dicen los que nos recomiendan?</h3>
            </div>

            <div class="testimonials owl-carousel">
                <div class="testimonials-single">
                    <blockquote class="blockquote">
                        Me sorprendió lo fácil que es usar la plataforma para prepararme para el Exámen. Las preguntas y las explicaciones son muy claras y dan la información más importante que hay que saber. Ver mis estadísticas, y poder armar un examen según ellas, me ayudó mucho a motivarme a estudiar.
                    </blockquote>
                    <h4 class="mt-8 mb-2">Kevin, Estudiante de Cresimed</h4>
                </div>
                <!--

                <div class="testimonials-single">
                    <img src="images/client.png" alt="client" class="client-img">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives. Conveniently embrace multifunctional ideas through proactive customer service. Distinctively conceptualize 2.0 intellectual capital via user-centric partnerships.</blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                    <p class="text-primary">United States</p>
                </div>
                <div class="testimonials-single">
                    <img src="images/client.png" alt="client" class="client-img">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives. Conveniently embrace multifunctional ideas through proactive customer service. Distinctively conceptualize 2.0 intellectual capital via user-centric partnerships.</blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                    <p class="text-primary">United States</p>
                </div>
                -->
            </div>

        </div>

    </div>
    <!-- // end .section -->

    <div class="section" id="pricing">
        <div class="container">
            <div class="section-title">
                <h3>Preguntas Frecuentes</h3>
            </div>

            <div class="row pt-4">
                <div class="col-md-6">
                    @for (int i = 0; i < Model.Faqs.Count; i++)
                    {
                        if (i % 2 == 0)
                        {
                            <h4 class="mb-3">@Model.Faqs[i].Question</h4>
                            <p class="light-font mb-5">@Model.Faqs[i].Answer</p>
                        }
                    }
                </div>
                <div class="col-md-6">
                    @for (int i = 0; i < Model.Faqs.Count; i++)
                    {
                        if (i % 2 != 0)
                        {
                            <h4 class="mb-3">@Model.Faqs[i].Question</h4>
                            <p class="light-font mb-5">@Model.Faqs[i].Answer</p>
                        }
                    }
                </div>
            </div>
        </div>

    </div>
    <!-- // end .section -->


    <!-- // end .section -->



    <div class="section bg-gradient text-center">
        <h2 style="color:white">

            Comenzá a prepararte con Cresimed
        </h2>
        <br />
        <a href="@Url.Action("Register","Account")" class="btn btn-primary">Inscribite</a>

    </div>
    <!-- // end .section -->

    <div class="light-bg py-5" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-center text-lg-left">
                    <p class="mb-2"> <span class="ti-location-pin mr-2"></span> Ciudad Autónoma de Buenos Aires, Argentina</p>
                    <div class=" d-block d-sm-inline-block">
                        <p class="mb-2">
                            <span class="ti-email mr-2"></span> <a class="mr-4" href="mailto:cursocresimed@gmail.com">cursocresimed@gmail.com</a>
                        </p>
                    </div>
                    

                </div>
                <div class="col-lg-2">
                    <div class=" ">
                        <p class="mb-2">
                                <span class="ti-facebook mr-2"></span> 
                                <a class="mr-4" href="https://www.facebook.com/profile.php?id=100090429289792&is_tour_dismissed=true" target="_blank">
                                    Cresimed
                                </a>
                        </p>
                    </div>
                    <div class=" d-block d-sm-inline-block">
                        <p class="mb-2">
                            <span class="ti-instagram mr-2"></span> <a class="mr-4" href="https://www.instagram.com/cresimed/" target="_blank">Cresimed</a>
                        </p>
                    </div>
                     
                    </div>
            </div>

        </div>

    </div>

    <!-- // end .section -->
    <footer class="my-5 text-center">
     
        <!-- Copyright removal is not prohibited! -->
        <p class="mb-2"><small>COPYRIGHT @@@DateTime.Now.Year.ToString(). ALL RIGHTS RESERVED. CRESIMED </p>

        <small>
        </small>
    </footer>
</body>
