@using Cresimed.Core.Entities.ViewModel.Web
@{
    Layout = null;
}
@model RegisterViewModel
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Cresimed - Registro</title>

    <meta name="description" content="" />
    <meta name="google-site-verification" content="QTOFB13R7eeqa-RmLtZDCtCJinIaBXOSfetGfQVCnRg" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/templateCampus/assets/img/favicon/favicon.png" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="~/templateCampus/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="~/templateCampus/assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="~/templateCampus/assets/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/templateCampus/assets/vendor/css/rtl/core.css" />
    <link rel="stylesheet" href="~/templateCampus/assets/vendor/css/rtl/theme-default.css" />
    <link rel="stylesheet" href="~/templateCampus/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/templateCampus/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/templateCampus/assets/vendor/libs/typeahead-js/typeahead.css" />
    <!-- Vendor -->
    <link rel="stylesheet" href="~/templateCampus/assets/vendor/libs/bs-stepper/bs-stepper.css" />
    <link rel="stylesheet" href="~/templateCampus/assets/vendor/libs/bootstrap-select/bootstrap-select.css" />
    <link rel="stylesheet" href="~/templateCampus/assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="~/templateCampus/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="~/templateCampus/assets/vendor/css/pages/page-auth.css" />
    <!-- Helpers -->
    <script src="~/templateCampus/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="~/templateCampus/assets/vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/templateCampus/assets/js/config.js"></script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T8V7DR3');
    </script>
    <!-- End Google Tag Manager -->
 

    <meta name="facebook-domain-verification" content="oz2e09nnn0cdazha7xhsyz3jbt9wsy" />
                    <!-- Meta Pixel Code -->
                    <script>
                        !function (f, b, e, v, n, t, s) {
                            if (f.fbq) return; n = f.fbq = function () {
                                n.callMethod ?
                                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                            };
                            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
                            n.queue = []; t = b.createElement(e); t.async = !0;
                            t.src = v; s = b.getElementsByTagName(e)[0];
                            s.parentNode.insertBefore(t, s)
                        }(window, document, 'script',
                            'https://connect.facebook.net/en_US/fbevents.js');
                        fbq('init', '210676631483200');
                        fbq('track', 'PageView');
                    </script>
                    <noscript>
                        <img height="1" width="1" style="display:none"
                             src="https://www.facebook.com/tr?id=210676631483200&ev=PageView&noscript=1" />
                    </noscript>
                    <!-- End Meta Pixel Code -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T8V7DR3"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Content -->

    <div class="authentication-wrapper authentication-cover">
        <div class="authentication-inner row m-0">
            <!-- Left Text -->
            <div class="d-none d-lg-flex col-lg-4 align-items-center justify-content-end p-5 pe-0">
                <div class="w-px-400">
                    <img src="../templateCampus/assets/img/illustrations/create-account-light.png"
                         class="img-fluid scaleX-n1-rtl"
                         alt="multi-steps"
                         width="600" />
                </div>
            </div>
            <!-- /Left Text -->
            <!--  Multi Steps Registration -->
            <div class="d-flex col-lg-8 authentication-bg p-sm-5 p-3 " style="background-color:#FFF;">
                <div class="d-flex flex-column w-px-700 mx-auto">
                    <!-- Logo -->
                    <div class="app-brand border-bottom mx-3 mb-0">
                        <span class="app-brand-logo demo mb-3">
                            <img src="~/templateCampus/assets/img/favicon/Logo.png" />
                        </span>
                        <span class="app-brand-text demo h3 mb-3 fw-bold">Cresimed</span>
                        
                    </div>
                    <!-- /Logo -->

                    <div class="my-auto">
                        <div id="multiStepsValidation" class="bs-stepper shadow-none">
                            <div class="bs-stepper-header">
                                <div class="step" data-target="#accountDetailsValidation">
                                    <button type="button" class="step-trigger">
                                        <span class="bs-stepper-circle">
                                            <i class="bx bx-home"></i>
                                        </span>
                                        <span class="bs-stepper-label">
                                            <span class="bs-stepper-title">Cuenta</span>
                                            <span class="bs-stepper-subtitle">Detalles de Cuenta</span>
                                        </span>
                                    </button>
                                </div>
                                <div class="line"></div>
                                <div class="step" data-target="#personalInfoValidation">
                                    <button type="button" class="step-trigger">
                                        <span class="bs-stepper-circle">
                                            <i class="bx bx-user"></i>
                                        </span>
                                        <span class="bs-stepper-label">
                                            <span class="bs-stepper-title">Personal</span>
                                            <span class="bs-stepper-subtitle">Información</span>
                                        </span>
                                    </button>
                                </div>
                                <div class="line"></div>
                                <div class="step" data-target="#billingLinksValidation">
                                    <button type="button" class="step-trigger">
                                        <span class="bs-stepper-circle">
                                            <i class="bx bx-detail"></i>
                                        </span>
                                        <span class="bs-stepper-label">
                                            <span class="bs-stepper-title">Profesional</span>
                                            <span class="bs-stepper-subtitle">Detalles</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="bs-stepper-content pt-4">
                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "multiStepsForm", @onSubmit = "return false" }))
                                {
                                    <!-- Account Details -->
                                    <div id="accountDetailsValidation" class="content">
                                        <div class="content-header mb-3">
                                            <h4>Información de Cuenta </h4>
                                            <span>Completar todos los campos </span>
                                        </div>
                                        <div class="row g-3">
                                            <div class="col-sm-6">
                                                <label class="form-label" for="multiStepsUsername">Usuario</label>
                                                @Html.TextBoxFor(m=>m.Username,new {@type="text", @name="multiStepsUsername",@id="multiStepsUsername",@class="form-control",@placeholder="johndoe"})
                                                <span id="multiStepsUsernameMsg" style="color:red"> </span>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="form-label" for="multiStepsEmail">Email</label>
                                                @Html.TextBoxFor(m=>m.Email,new {@type="text", @name="multiStepsEmail", @id="multiStepsEmail", @class="form-control", @placeholder="john.doe@email.com" })
                                                <span id="multiStepsEmailMsg" style="color:red"> </span>
                                            </div>
                                            <div class="col-sm-6 form-password-toggle">
                                                <label class="form-label" for="multiStepsPass">Contraseña</label>
                                                <div class="input-group input-group-merge">
                                                    <input class="form-control" id="multiStepsPass" name="Password" type="password" value="" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;">
                                                    <span class="input-group-text cursor-pointer" id="multiStepsPass2">
                                                        <i class="bx bx-hide"></i>
                                                    </span>
                                                </div>
                                                <span id="multiStepsPassMsg" style="color:red"> </span>
                                            </div>
                                            <div class="col-sm-6 form-password-toggle">
                                                <label class="form-label" for="multiStepsConfirmPass">Confirmar Contraseña</label>
                                                <div class="input-group input-group-merge">

                                                    <input type="password"
                                                       id="multiStepsConfirmPass"
                                                       name="multiStepsConfirmPass"
                                                       class="form-control"
                                                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                                       aria-describedby="multiStepsConfirmPass2" />
                                                    <span class="input-group-text cursor-pointer" id="multiStepsConfirmPass2">
                                                        <i class="bx bx-hide"></i>
                                                    </span>
                                                </div>
                                                <span id="multiStepsConfirmPassMsg" style="color:red"> </span>
                                            </div>
                                            <div class="col-12 d-flex justify-content-between mt-4">
                                                <button class="btn btn-label-secondary btn-prev" disabled>
                                                    <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                                                    <span class="d-sm-inline-block d-none">Anterior</span>
                                                </button>
                                                <button class="btn btn-primary btn-next">
                                                    <span class="d-sm-inline-block d-none me-sm-1 me-0">Siguiente</span>
                                                    <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Personal Info -->
                                    <div id="personalInfoValidation" class="content">
                                        <div class="content-header mb-3">
                                            <h4>Información Personal </h4>
                                            <span></span>
                                        </div>
                                        <div class="row g-3">
                                            <div class="col-sm-6">
                                                <label class="form-label" for="multiStepsFirstName"> Nombre</label>
                                                @Html.TextBoxFor(m=>m.Name,new {@type="text", @name="multiStepsFirstName",@id="multiStepsFirstName",@class="form-control",@placeholder="John"})
                                                <span id="multiStepsFirstNameMsg" style="color:red"> </span>

                                            </div>
                                            <div class="col-sm-6">
                                                <label class="form-label" for="multiStepsLastName">Apellido</label>
                                                @Html.TextBoxFor(m=>m.LastName,new {@type="text", @name="multiStepsLastName",@id="multiStepsLastName",@class="form-control",@placeholder="Doe"})
                                                <span id="multiStepsLastNameMsg" style="color:red"> </span>

                                            </div>
                                            <div class="col-sm-6">
                                                <label class="form-label" for="multiStepsCountry">Pa&iacute;s</label>
                                                @Html.TextBoxFor(m=>m.Country,new {@type="text", @name="multiStepsCountry",@id="multiStepsCountry",@class="form-control",@placeholder="Argentina"})
                                                <span id="multiStepsCountryMsg" style="color:red"> </span>

                                            </div>
                                            <div class="col-sm-6">
                                                <label class="form-label" for="multiStepsProvince">Provincia</label>
                                                @Html.TextBoxFor(m=>m.Province,new {@type="text", @name="multiStepsProvince",@id="multiStepsProvince",@class="form-control",@placeholder="CABA"})
                                                <span id="multiStepsProvinceMsg" style="color:red"> </span>

                                            </div>
                                            <div class="col-12 d-flex justify-content-between mt-4">
                                                <button class="btn btn-primary btn-prev">
                                                    <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                                                    <span class="d-sm-inline-block d-none">Anterior</span>
                                                </button>
                                                <button class="btn btn-primary btn-next">
                                                    <span class="d-sm-inline-block d-none me-sm-1 me-0">Siguiente</span>
                                                    <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Billing Links -->
                                    <div id="billingLinksValidation" class="content">
                                        <div class="content-header mb-3">
                                            <h4>Informacion Profesional</h4>
                                        </div>
                                        <div class="row g-3">

                                            <div class="col-md-9">
                                                <label class="form-label" for="multiStepsUniversity">Universidad</label>
                                                @Html.TextBoxFor(m=>m.University,new {@type="text", @name="multiStepsUniversity",@id="multiStepsUniversity",@class="form-control",@placeholder="UBA"})
                                                <span id="multiStepsUniversityMsg" style="color:red"> </span>

                                            </div>
                                            <div class="col-md-3">
                                                <label class="form-label" for="multiStepsLastYear"> Año de Finalizaci&oacute;n</label>
                                                @Html.TextBoxFor(m=>m.LastYear,new {@type="number",@maxlength ="4",@max=@DateTime.Now.Year, @name="multiStepsLastYear",@id="multiStepsLastYear",@class="form-control",@placeholder="2023"})
                                                <span id="multiStepsLastYearMsg" style="color:red"> </span>

                                            </div>
                                            @*

                                            <div class="col-md-5">
                                                <label class="form-label" for="multiStepsLastYear"> Codigo de Descuento</label>
                                                <div class="input-group">
                                                    <span class="input-group-text" onclick="validarCodigoDeDescuento()" id="basic-addon11">Validar</span>
                                                    <input type="text"
                                                       id="CodigoDeDescuento"
                                                       class="form-control"
                                                       placeholder="XXXX-XXXX-XXXX-XXXX"
                                                       aria-describedby="basic-addon11" />
                                                </div>

                                            </div>
                                           
                                            *@
                                            <div class="col-md-12">


                                                <span id="btnTyCMsg" style="color:red"> </span><br>
                                                <input type="checkbox" value="TyC" id="btnTyC">
                                                <label class="form-label" for="btnTyC">
                                                    Al hacer clic en Registrarte, aceptas los 
                                                    <a class="link-primary" data-bs-toggle="modal" data-bs-target="#basicModal">
                                                        Términos y condiciones
                                                    </a>
                                                    de uso de Cresimed
                                                </label>
                                            </div>
                                          
                                            <!-- Modal -->
                                            <div class="modal fade modal-xl" id="basicModal" tabindex="-1" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h3 class="modal-title" id="exampleModalLabel1">Terminos y Condiciones</h3>
                                                            <button type="button"
                                                                class="btn-close"
                                                                data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <h6>
                                                                    GENERALIDADES
                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">

                                                                    Cresimed gestiona este sitio web. En todo el sitio, los términos "nosotros", "nos" y "nuestro" se refieren en lo sucesivo a Cresimed. Cresimed ofrece esta página web, incluida toda la información, las herramientas y los servicios que se ponen en este sitio a disposición suya, el usuario, siempre y cuando acepte la totalidad de los términos, condiciones, políticas y avisos contemplados aquí.

                                                                    Al visitar nuestro sitio y/o comprarnos algo, usted interactúa con nuestro "Servicio" y reconoce como vinculantes los siguientes términos y condiciones (denominados en lo sucesivo "Términos del servicio", "Términos"), incluidos aquellos términos y condiciones adicionales y las políticas que se mencionan aquí y/o disponibles por medio de hipervínculo. Estos Términos del servicio se aplican a todos los usuarios del sitio, incluyendo de manera enunciativa mas no limitativa los usuarios que son navegadores, proveedores, clientes, comerciantes y/o que aporten contenido.
                                                                    Lea estos Términos del servicio detenidamente antes de acceder o utilizar nuestra página web. Al acceder o utilizar cualquier parte del sitio, usted acepta estos Términos del servicio. Si no acepta la totalidad de los términos y condiciones de este acuerdo, no podrá acceder al sitio web ni utilizar ningún servicio. Si estos Términos del servicio se considerasen una oferta, la aceptación se limita expresamente a los presentes Términos del servicio.

                                                                    Las nuevas funciones o herramientas que se agreguen al servicio actual también estarán sujetas a los Términos del servicio. Puede revisar la versión más reciente de los Términos del servicio en cualquier momento en esta página. Nos reservamos el derecho de actualizar, cambiar o reemplazar cualquier parte de los presentes Términos del servicio mediante la publicación de actualizaciones o cambios en nuestra página web. Es su responsabilidad revisar esta página periódicamente para ver los cambios. Su uso de la página web o el acceso a ella de forma continuada después de la publicación de cualquier cambio constituye la aceptación de dichos cambios.
                                                                </p>
                                                            </div>
                                                            <div class="row">
                                                                <h6>
                                                                    SECCIÓN 1: TÉRMINOS DE LA TIENDA ONLINE
                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">

                                                                    Al aceptar los presentes Términos del servicio, usted declara que tiene la mayoría de edad en su estado o provincia de residencia, o que es mayor de edad en su estado o provincia de residencia y que nos ha dado su consentimiento para permitir que cualquiera de las personas menores que dependen de usted utilice este sitio.

                                                                    No puede utilizar nuestros productos para ningún fin ilegal o no autorizado ni puede, al hacer uso del Servicio, infringir las leyes de su jurisdicción (incluyendo de manera enunciativa más no limitativa, las leyes de derechos de autor).

                                                                    No transmitirá ningún gusano o virus informáticos ni ningún código de naturaleza destructiva.

                                                                    El incumplimiento o violación de cualquiera de los Términos dará como resultado la rescisión inmediata de sus Servicios.

                                                                </p>
                                                            </div>
                                                            <div class="row">
                                                                <h6>
                                                                    SECCIÓN 2: CONDICIONES GENERALES
                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">

                                                                    Nos reservamos el derecho de rechazar el servicio a cualquier persona, por cualquier motivo, en cualquier momento.

                                                                    Usted comprende que su contenido (sin incluir la información de la tarjeta de crédito) puede transferirse sin cifrar e implicar (a) transmisiones en varias redes; y (b) cambios para adaptarse a los requisitos técnicos de conexión de redes o dispositivos y cumplir con ellos. La información de la tarjeta de crédito siempre se cifra durante la transferencia a través de las redes.

                                                                    Usted acepta no reproducir, duplicar, copiar, vender, revender ni aprovechar ninguna parte del Servicio, uso del Servicio o acceso al Servicio o cualquier contacto en el sitio web a través de la cual se presta el servicio, sin nuestro permiso expreso por escrito.

                                                                    Los encabezados utilizados en este acuerdo se incluyen solo para facilitar la lectura y no limitarán ni afectarán los presentes Términos.


                                                                </p>
                                                            </div>
                                                            <div class="row">
                                                                <h6>
                                                                    SECCIÓN 3: EXACTITUD, TOTALIDAD Y CRONOLOGÍA DE LA INFORMACIÓN
                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">


                                                                    No nos responsabilizamos si la información disponible en este sitio no es precisa, completa o actualizada. El material presentado en este sitio se proporciona solo para información general y no se debe confiar en él ni utilizarlo como la única base para tomar decisiones sin consultar fuentes de información principales, más precisas, más completas o más recientes. Al confiar en cualquier material de este sitio lo hace por su cuenta y riesgo.

                                                                    Este sitio puede contener cierta información histórica. La información histórica, inevitablemente, no es actual y se proporciona únicamente como referencia. Nos reservamos el derecho de modificar el contenido de este sitio en cualquier momento, pero no tenemos la obligación de actualizar ninguna información en nuestro sitio. Usted acepta que es su responsabilidad controlar los cambios en nuestro sitio.

                                                                </p>
                                                            </div>
                                                            <div class="row">
                                                                <h6>
                                                                    SECCIÓN 4: MODIFICACIONES AL SERVICIO Y PRECIOS

                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">
                                                                    Los precios de nuestros productos están sujetos a cambios sin previo aviso.

                                                                    Nos reservamos el derecho de modificar o discontinuar el Servicio (o cualquier parte o contenido del mismo) sin previo aviso en cualquier momento.

                                                                    No seremos responsables ante usted ni ante ningún tercero por ninguna modificación, cambio de precio, suspensión o interrupción del Servicio.

                                                                </p>
                                                            </div>
                                                            <div class="row">
                                                                <h6>

                                                                    SECCIÓN 5: PRODUCTOS O SERVICIOS

                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">

                                                                    Ciertos productos o servicios pueden estar disponibles exclusivamente online a través del sitio web. Estos productos o servicios pueden tener cantidades limitadas y están sujetos a devolución o cambio solo de acuerdo con nuestra Política de devolución.

                                                                    Hemos hecho todo lo viable para mostrar con la mayor precisión posible los colores y las imágenes de nuestros productos que aparecen en la tienda. No podemos garantizar que la visualización de cualquier color en el monitor de su computadora sea precisa.
                                                                    Nos reservamos el derecho, pero no estamos obligados, de limitar las ventas de nuestros productos o servicios a cualquier persona, región geográfica o jurisdicción. Podemos ejercer este derecho caso por caso. Nos reservamos el derecho de limitar las cantidades de cualquier producto o servicio que ofrecemos. Todas las descripciones de los productos o los precios de los productos están sujetos a cambios en cualquier momento y sin previo aviso, a nuestra entera discreción. Nos reservamos el derecho de discontinuar cualquier producto en cualquier momento. Cualquier oferta de cualquier producto o servicio que se realice en este sitio no tiene validez donde dicho producto o servicio esté prohibido.

                                                                    No garantizamos que la calidad de cualquier producto, servicio, información u otro material que usted haya comprado u obtenido cumplirá con sus expectativas, o que cualquier error en el Servicio se corregirá.

                                                                </p>
                                                            </div>
                                                            <div class="row">
                                                                <h6>
                                                                    SECCIÓN 6: EXACTITUD DE LA FACTURACIÓN Y DE LA INFORMACIÓN DE LA CUENTA
                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">
                                                                    Nos reservamos el derecho de rechazar cualquier pedido que realice en nuestra tienda. Podemos, a nuestro exclusivo criterio, limitar o cancelar las cantidades compradas por persona, por hogar o por pedido. Estas restricciones pueden incluir pedidos realizados con la misma cuenta de cliente, la misma tarjeta de crédito o pedidos que usen la misma dirección de facturación o de envío. En el caso de que realicemos un cambio o cancelemos un pedido, intentaremos notificarle vía correo electrónico o la dirección de facturación / número de teléfono proporcionados en el momento en que se realizó el pedido. Nos reservamos el derecho de limitar o prohibir los pedidos que, a nuestra entera discreción, parezcan haber sido realizados por comerciantes, revendedores o distribuidores.
                                                                    Usted acepta suministrar información completa y precisa de la compra y cuenta actual, para todas las compras realizadas en nuestra tienda. Usted acepta actualizar rápidamente su cuenta y demás informaciones, entre ellas, su dirección de correo electrónico, los números de tarjeta de crédito y las fechas de vencimiento, para que podamos completar sus transacciones y contactarlo según sea necesario.

                                                                    Para obtener más información, consulte nuestra Política de devoluciones.

                                                                </p>
                                                            </div>
                                                            <div class="row">
                                                                <h6>
                                                                    SECCIÓN 7: HERRAMIENTAS OPCIONALES
                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">

                                                                    Podemos proporcionarle acceso a herramientas de terceros que no supervisamos, ni tenemos ningún control sobre ellas, ni tampoco contribuimos.

                                                                    Usted reconoce y acepta que brindamos acceso a dichas herramientas "tal como se encuentran" y "según disponibilidad" sin garantías, representaciones ni condiciones de ningún tipo y sin ningún tipo de respaldo. No tendremos ninguna responsabilidad como consecuencia del uso que haga de herramientas opcionales de terceros o en relación a ellas.

                                                                    Cualquier uso que haga de las herramientas opcionales ofrecidas a través del sitio es por su cuenta y riesgo, y debe asegurarse de estar familiarizado con los términos según los cuales los proveedores externos relevantes suministran dichas herramientas y aprobarlos.

                                                                    También podemos, en el futuro, ofrecer nuevos servicios o funciones a través del sitio web (incluido el lanzamiento de nuevas herramientas y recursos). Estas nuevas funciones o servicios también estarán sujetos a los presentes Términos de servicio.



                                                                </p>
                                                            </div>
                                                            <div class="row">
                                                                <h6>
                                                                    SECCIÓN 8: ENLACES DE TERCEROS
                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">


                                                                    Algunos contenidos, productos y servicios disponibles a través de nuestro Servicio pueden incluir recursos de terceros.

                                                                    Los enlaces de terceros en este sitio pueden dirigirlo a páginas web de terceros que no están afiliados a nosotros. No somos responsables de examinar o evaluar el contenido o la exactitud, ni garantizamos ni asumiremos ninguna obligación ni responsabilidad por los recursos o páginas web de terceros, ni por ningún otro material, producto o servicio de terceros.

                                                                    No somos responsables de ningún daño o perjuicio relacionado con la compra o el uso de bienes, servicios, recursos, contenido o cualquier otra transacción realizada en conexión con sitios web de terceros. Revise cuidadosamente las políticas y prácticas de terceros, y asegúrese de comprenderlas antes de participar en cualquier transacción. Las quejas, reclamos, inquietudes o preguntas referentes a productos de terceros deben dirigirse a estos.


                                                                </p>
                                                            </div>
                                                            <div class="row">
                                                                <h6>
                                                                    SECCIÓN 9: COMENTARIOS DE LOS USUARIOS, OPINIONES Y OTRAS COMUNICACIONES

                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">

                                                                    Si, a petición nuestra, usted envía ciertas comunicaciones específicas (por ejemplo, participaciones en un concurso) o, sin una solicitud nuestra, envía ideas creativas, sugerencias, propuestas, planes u otros materiales, ya sea online, por correo electrónico, por correo postal, o de otro modo (denominado en lo sucesivo y de manera colectiva, 'comentarios'), usted acepta que podemos, en cualquier momento, sin restricción: editar, copiar, publicar, distribuir, traducir y usar en cualquier medio cualquier comentario que usted nos envíe. No tenemos ni tendremos ninguna obligación (1) de mantener ningún comentario de manera confidencial; (2) pagar alguna compensación por cualquier comentario; o (3) responder a cualquier comentario.
                                                                    Podemos, pero no tenemos la obligación de monitorear, editar o eliminar contenido que a nuestra entera discreción determinemos que es ilegal, ofensivo, amenazante, calumnioso, difamatorio, pornográfico, obsceno u objetable, o que infrinja la propiedad intelectual de cualquiera de las partes o de los presentes Términos del servicio.
                                                                    Usted acepta que sus comentarios no infringirán ningún derecho de terceros, incluidos los derechos de autor, marca registrada, privacidad, personalidad u otro derecho personal o de propiedad. Además, acepta que sus comentarios no contendrán material difamatorio, ilegítimo, abusivo u obsceno, ni contendrán ningún virus informático ni otro software dañino que pueda afectar de cualquier manera el funcionamiento del Servicio o de cualquier sitio web relacionado. No puede utilizar una dirección de correo electrónico falsa, simular ser otra persona o engañarnos o engañar a terceros sobre el origen de los comentarios. Usted es el único responsable de los comentarios que realice y de su exactitud. No asumimos ninguna responsabilidad ni ninguna obligación por los comentarios publicados por usted o por un tercero.


                                                                </p>
                                                            </div>

                                                            <div class="row">
                                                                <h6>
                                                                    SECCIÓN 10: INFORMACIÓN PERSONAL

                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">

                                                                    El envío de la información personal que haga a través de la tienda se rige por nuestra Política de privacidad (ver mas abajo).
                                                                </p>
                                                            </div>

                                                            <div class="row">
                                                                <h6>
                                                                    SECCIÓN 11: ERRORES, INEXACTITUDES Y OMISIONES

                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">

                                                                    Puede haber información en nuestro sitio o en el Servicio que, ocasionalmente, contenga errores tipográficos, inexactitudes u omisiones que puedan relacionarse con descripciones de productos, precios, promociones, ofertas, cargos por envío de productos, tiempos de tránsito y disponibilidad. Nos reservamos el derecho de corregir cualquier error, inexactitud u omisión, de cambiar o actualizar información, o cancelar pedidos si alguna información en el Servicio o en cualquier página web relacionada es inexacta en cualquier momento sin previo aviso (incluso después de haber enviado su pedido).

                                                                    No asumimos ninguna obligación de actualizar, modificar o aclarar la información en el Servicio o en cualquier sitio web relacionado, incluyendo de manera enunciativa pero no limitativa, la información de precios, excepto cuando lo exija la ley. Ninguna actualización especificada o fecha de actualización aplicada en el Servicio o en cualquier sitio web relacionado debe tomarse para indicar que toda la información en el Servicio o en cualquier sitio web relacionado se modificó o actualizó.

                                                                </p>
                                                            </div>

                                                            <div class="row">
                                                                <h6>
                                                                    SECCIÓN 12: USOS PROHIBIDOS


                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">


                                                                    Además de las prohibiciones establecidas en los Términos del servicio, se le prohíbe utilizar el sitio o su contenido (a) para cualquier propósito ilegal; (b) para solicitar a otros que realicen o participen en cualquier acto ilegal; (c) para infringir cualquier reglamento, norma, ley u ordenanza local internacional, federal, provincial o estatal; (d) para infringir o violar nuestros derechos de propiedad intelectual o los derechos de propiedad intelectual de otros; (e) acosar, abusar, insultar, dañar, difamar, calumniar, denigrar, intimidar o discriminar por motivos de género, orientación sexual, religión, etnia, raza, edad, nacionalidad o discapacidad; (f) enviar información falsa o engañosa;
                                                                    (g) cargar o transmitir virus o cualquier otro tipo de código dañino que afecte o pueda afectar a la funcionalidad o el funcionamiento del Servicio o de cualquier sitio web relacionado, de otros sitios web o de Internet; (h) recopilar o rastrear la información personal de otros; (i) enviar correo no deseado, phishing, pharm, pretexto, spider, rastrear o extraer; (j) para cualquier propósito obsceno o inmoral; o (k) para interferir o eludir las funciones de seguridad del Servicio o de cualquier sitio web relacionado, o de otros sitios web o de Internet. Nos reservamos el derecho de dar por terminado su uso del Servicio o de cualquier sitio web relacionado por infringir cualquiera de los usos prohibidos.

                                                                </p>
                                                            </div>

                                                            <div class="row">
                                                                <h6>
                                                                    SECCIÓN 13: DESCARGO DE RESPONSABILIDAD DE GARANTÍAS; LIMITACIÓN DE RESPONSABILIDAD

                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">

                                                                    No garantizamos, representamos ni aseguramos que el uso que haga de nuestro servicio será sin interrupciones, oportuno, seguro o sin errores.

                                                                    No garantizamos que los resultados que se puedan obtener del uso del servicio sean exactos o confiables.

                                                                    Usted acepta que periódicamente, podamos eliminar el servicio por lapsos de tiempo indefinidos o cancelar el servicio en cualquier momento, sin notificarle.
                                                                    Usted acepta expresamente que su uso del servicio o la imposibilidad de utilizarlo corre por su riesgo. El servicio y todos los productos y servicios que se le entregan a través del servicio (salvo que así lo especifiquemos nosotros) se ofrecen "tal como están" y "según disponibilidad" para su uso, sin ninguna representación, garantía o condición de ningún tipo, ya sea expresa o implícita, entre las que se incluyen todas las garantías implícitas o condiciones de comerciabilidad, calidad comercial, idoneidad para un propósito particular, durabilidad, título y no violación.
                                                                    En ningún caso Cresimed, nuestros directores, funcionarios, empleados, afiliados, agentes, contratistas, pasantes, proveedores, proveedores de servicios o licenciantes serán responsables de cualquier lesión, pérdida, reclamo o cualquier daño directo, indirecto, incidental, punitivo, especial o consecuente de cualquier tipo, incluyendo de manera enunciativa más no limitativa; la pérdida de beneficios, pérdida de ingresos, pérdida de ahorros, pérdida de datos, costos de reemplazo o daños similares, ya sea por contrato, perjuicio (incluida la negligencia), responsabilidad estricta o de otro tipo, que surjan del uso que haga de cualquiera de los servicios o de cualquier producto adquirido por medio del servicio, o para cualquier otro reclamo relacionado de alguna manera con su uso del servicio o de cualquier producto, incluidos, entre otros, cualquier error u omisión en cualquier contenido, o cualquier pérdida o daño de cualquier tipo en el que se haya incurrido como resultado del uso del servicio o de cualquier contenido (o producto) publicado, transmitido o puesto a disposición a través del servicio, incluso si se informa de su posibilidad.
                                                                    Debido a que algunos estados o jurisdicciones no permiten la exclusión o la limitación de la responsabilidad por daños consecuentes o incidentales, en dichos estados o jurisdicciones, nuestra responsabilidad se limitará a la extensión máxima de lo permitido por la ley.


                                                                </p>
                                                            </div>

                                                            <div class="row">
                                                                <h6>
                                                                    SECCIÓN 14: INDEMNIZACIÓN

                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">

                                                                    Usted acepta indemnizar, defender y mantener indemne a Cresimed y a nuestra empresa matriz, subsidiarias, afiliadas, asociados, funcionarios, directores, agentes, contratistas, licenciantes, proveedores de servicios, subcontratistas, proveedores, pasantes y empleados, de cualquier reclamo o demanda, incluidos los honorarios razonables de abogados, en los que un tercero haya incurrido debido a su incumplimiento de los presentes Términos del servicio o de los documentos que incorporan como referencia o que surjan por su incumplimiento de los mismos, o por la violación de cualquier ley o derechos de un tercero que haga.



                                                                </p>
                                                            </div>

                                                            <div class="row">
                                                                <h6>
                                                                    SECCIÓN 15: DIVISIBILIDAD
                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">
                                                                    En caso de que se determine que alguna disposición de los presentes Términos del servicio sea ilegal, nula o inaplicable, dicha disposición será, no obstante, ejecutable en la medida en que lo permita la legislación aplicable, y la parte inaplicable se considerará separada de los presentes Términos del servicio, sin que dicha determinación afecte a la validez y aplicabilidad de las demás disposiciones.


                                                                </p>
                                                            </div>

                                                            <div class="row">
                                                                <h6>

                                                                    SECCIÓN 16: RESCISIÓN


                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">

                                                                    Las obligaciones y responsabilidades de las partes incurridas antes de la fecha de rescisión seguirán vigentes después de la rescisión de este contrato a todos los efectos.
                                                                    Estos Términos del servicio se encuentran vigentes a menos que usted o nosotros los rescindamos. Puede rescindir los presentes Términos del servicio en cualquier momento al notificarnos que ya no desea utilizar nuestros Servicios o cuando cese de utilizar nuestro sitio.
                                                                    Si a nuestro juicio usted incumple, o sospechamos que ha incumplido con cualquier término o disposición de los presentes Términos del servicio, podemos rescindir igualmente este acuerdo en cualquier momento sin previo aviso y usted seguirá siendo responsable de todos los importes adeudados, hasta la fecha de rescisión inclusive; y/o en consecuencia podemos denegarle el acceso a nuestros Servicios (o a parte de ellos).


                                                                </p>
                                                            </div>

                                                            <div class="row">
                                                                <h6>
                                                                    SECCIÓN 17: ACUERDO COMPLETO
                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">


                                                                    El hecho de que no ejerzamos o hagamos valer algún derecho o disposición de los presentes Términos del Servicio no constituirá una renuncia a dicho derecho o disposición.

                                                                    Estos Términos de servicio y cualquier política o regla de funcionamiento que hayamos publicado en este sitio o con respecto al Servicio constituye el acuerdo y el entendimiento completo entre usted y nosotros, y rigen su uso del Servicio, sustituyendo a cualquier acuerdo, comunicación o propuesta anterior o contemporánea, ya sea oral o escrita, entre usted y nosotros (incluyendo de manera enunciativa más no limitativa, las versiones anteriores de los Términos del servicio).
                                                                    Cualquier ambigüedad en la interpretación de los presentes Términos del servicio no se interpretará en contra de la parte redactora.

                                                                </p>
                                                            </div>

                                                            <div class="row">
                                                                <h6>
                                                                    SECCIÓN 18: LEY APLICABLE

                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">


                                                                    Los presentes Términos del servicio y cualquier acuerdo por separado por el cual le proporcionemos Servicios se regirán e interpretarán de acuerdo con las leyes.



                                                                </p>
                                                            </div>

                                                            <div class="row">
                                                                <h6>
                                                                    SECCIÓN 19: CAMBIOS EN LOS TÉRMINOS DEL SERVICIO

                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">

                                                                    Puede revisar la versión más reciente de los Términos del servicio en cualquier momento en esta página.

                                                                    Nos reservamos el derecho, a nuestra entera discreción, de actualizar, cambiar o sustituir cualquier parte de los presentes Términos del servicio mediante la publicación de actualizaciones y cambios en nuestro sitio web. Es su responsabilidad consultar nuestro sitio web periódicamente para ver los cambios. El uso que haga de nuestra página web o del Servicio o su acceso a cualquiera de estos de forma continua después de la publicación de cualquier cambio en los presentes Términos del servicio, constituye la aceptación de dichos cambios.

                                                                </p>
                                                            </div>

                                                            <div class="row">
                                                                <h6>
                                                                    SECTION 20: INFORMACIÓN DE CONTACTO
                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">

                                                                    Las preguntas sobre los Términos del servicio se deben enviar a [cursocresimed@gmail.com](mailto:cursocresimed@gmail.com).


                                                                </p>
                                                            </div>


                                                            <div class="row">
                                                                <h6>

                                                                    POLÍTICA DE DEVOLUCIONES

                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">


                                                                    Nuestra política dura 30 días. Si pasaron 30 días desde su compra del pago único del servicio por la suscripción de 8 meses, desafortunadamente no podemos ofrecerle un reembolso ni un cambio.

                                                                    Si aún no recibió un reembolso, primero revise de nuevo su cuenta bancaria.
                                                                    Luego, comuníquese con la empresa de su tarjeta de crédito. Puede demorar algún tiempo antes de que su reembolso se vea reflejado de manera oficial.
                                                                    Después, contacte a su banco. A menudo es necesario un tiempo de procesamiento antes de poder ver reflejado un reembolso.
                                                                    Si ya hizo todo lo anterior y aún no recibió su reembolso, puede contactarnos escribiendo a [cursocresimed@gmail.com](mailto:cursocresimed@gmail.com).
                                                                    Artículos en oferta
                                                                    Solo se pueden reembolsar los artículos de precio normal. Lamentablemente, no se pueden reembolsar los artículos en oferta.



                                                                </p>
                                                            </div>

                                                            <div class="row">
                                                                <h6>

                                                                    POLÍTICA DE PRIVACIDAD DE CRESIMED

                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">


                                                                    Esta Política de privacidad describe cómo se recopila, utiliza y comparte su información personal cuando visita o hace una compra en [www.cresimed.com](http://www.cresimed.com/) (denominado en lo sucesivo el “Sitio”).




                                                                </p>
                                                            </div>  <div class="row">
                                                                <h6>

                                                                    RETENCIÓN DE DATOS
                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">

                                                                    Cuando realiza un pedido a través del Sitio, mantendremos su Información del pedido para nuestros registros a menos que y hasta que nos pida que eliminemos esta información.


                                                                </p>
                                                            </div>
                                                            <div class="row">
                                                                <h6>

                                                                    CAMBIOS
                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">

                                                                    Podemos actualizar esta política de privacidad periódicamente para reflejar, por ejemplo, cambios en nuestras prácticas o por otros motivos operativos, legales o reglamentarios.


                                                                </p>
                                                            </div>
                                                            <div class="row">
                                                                <h6>

                                                                    CONTÁCTENOS
                                                                </h6>
                                                                <p class="" style="max-width:100%!important;">


                                                                    Para obtener más información sobre nuestras prácticas de privacidad, si tiene alguna pregunta o si desea presentar una queja, contáctenos por correo electrónico a [cursocresimed@gmail.com](mailto:cursocresimed@gmail.com).


                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                                                                Cerrar
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-12 d-flex justify-content-between mt-4">
                                            <button class="btn btn-primary btn-prev">
                                                <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                                                <span class="d-sm-inline-block d-none">Anterior</span>
                                            </button>
                                            <button type="submit" id="SubmitFormRegisterBtn" class="btn btn-success btn-next btn-submit">Registrarme</button>
                                        </div>
                                    </div>
                                    <!--/ Credit Card Details -->
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / Multi Steps Registration -->
        </div>
    </div>

    <script>
        // Check selected custom option
        window.Helpers.initCustomOptionCheck();
    </script>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <!-- / Content -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="~/templateCampus/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/templateCampus/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/templateCampus/assets/vendor/js/bootstrap.js"></script>
    <script src="~/templateCampus/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="~/templateCampus/assets/vendor/libs/hammer/hammer.js"></script>

    <script src="~/templateCampus/assets/vendor/libs/i18n/i18n.js"></script>
    <script src="~/templateCampus/assets/vendor/libs/typeahead-js/typeahead.js"></script>

    <script src="~/templateCampus/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="~/templateCampus/assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="~/templateCampus/assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="~/templateCampus/assets/vendor/libs/bs-stepper/bs-stepper.js"></script>
    <script src="~/templateCampus/assets/vendor/libs/select2/select2.js"></script>
    <script src="~/templateCampus/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="~/templateCampus/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="~/templateCampus/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>

    <!-- Main JS -->
    <script src="~/templateCampus/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="~/templateCampus/assets/js/pages-auth-multisteps.js"></script>
</body>